<div class="card-home">
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <!-- <div class="carousel-indicators">
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div> -->
        <div class="carousel-inner">
            <div class="carousel-item active c-item">
                <img src="../../assets/images/home1.jpg" class=" c-img" alt="slide 1">
                <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                    <h2 class="text-heading text-white mt-5 fs-3">LET'S</h2>
                    <h2 class="sub-heading text-white m2">MAKE YOUR</h2>
                    <h2 class="sub-heading text-white m2"><span
                            style="color: #FBA80A; font-style: italic; font-weight: lighter; font-family:Rage Italic">Best</span>
                        PLACE</h2>
                    <h2 class="sub-heading text-white m2">EVER</h2>
                </div>
            </div>
            <div class="carousel-item c-item">
                <img src="../../assets/images/house1.jpg" class="c-img" alt="slide 2">
                <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                    <h2 class="text-heading text-white mt-5 fs-3">LET'S</h2>
                    <h2 class="sub-heading text-white m2">MAKE YOUR</h2>
                    <h2 class="sub-heading text-white m2"><span
                            style="color: #FBA80A; font-style: italic; font-weight: lighter; font-family:Rage Italic">Best</span>
                        PLACE</h2>
                    <h2 class="sub-heading text-white m2">EVER</h2>
                </div>
            </div>
            <div class="carousel-item c-item">
                <img src="../../assets/images/house8.jpg" class="c-img" alt="slide 3">
                <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                    <h2 class="text-heading text-white mt-5 fs-3">LET'S</h2>
                    <h2 class="sub-heading text-white m2">MAKE YOUR</h2>
                    <h2 class="sub-heading text-white m2"><span
                            style="color: #FBA80A; font-style: italic; font-weight: lighter; font-family:Rage Italic">Best</span>
                        PLACE</h2>
                    <h2 class="sub-heading text-white m2">EVER</h2>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
