
.section-offres li {
  margin-right: 0px;
  display: inline-block;
  
}
.section-offres li:nth-child(3) a {
  font-size: 1em;
}
.section-offres li:nth-child(4),
.section-offres li:nth-child(5) {
  border-bottom: 2px solid gray;
  display: block;
  margin-left: -17px;
}
.section-offres li:nth-child(1),
.section-offres li:nth-child(2) {
  margin-left: -17px;
  border-bottom: 2px solid gray;
  display: block;
}
.section-offres li:active {
  border-bottom-color: #F29C2C;
}
.section-offres li:hover,
.section-offres li:focus {
  border-bottom-color: #F29C2C;
}
.section-offres li a {
  color: #605697;
}
/*********************************/
/* hr {
  margin: 1rem 0;
  margin-left: 298px;
  margin-top: -26px;
  color: inherit;
  size: -41;
  width: 54%;
  align-content: center;
 
  border: 0;
  opacity: 0.8;
}
hr:not([size]) {
  height: 2px;
  background-image: linear-gradient(to bottom, gray 20%, transparent 60%, gray 20%);
}
 */
/*********************************/


.card{
  width: 300px;
  height: 350px;
  border-radius: 10px;
  margin-right: 1%; /* Ajoute un petit espacement entre les cartes */
vertical-align: top; /* Aligne les cartes en haut */
}
img {
  width: 300px;
  height: 204px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.card {
  border: none;
  margin: 10px;
}

.card .img-wrapper {
  position: relative;
}

.card .img-wrapper img {
  border-radius: 5px;
}

.card .img-wrapper i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.card .img-wrapper i.liked {
  color: red;
}
.carousel {
  margin-bottom: 3%;
}
.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;

}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 25%;
    display: block;
   
  }
  .carousel-inner {
    display: flex;
  }
} 
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
} 
.carousel-indicators button {
  width: 10px;
  height: 10px;
  
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
  border:2px solid #605697;
  background-color: #fff;
  cursor: pointer;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 44px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators button.active {
  background-color: #605697;
  border: 2px solid #605697;
}

.carousel-indicators button {
  background-color: #fff;
}

.nbre {
  margin-bottom: 0.5rem!important;
  margin-left: -30%;
}

.adresse {
margin-bottom: 0.5rem!important;
margin-left: -57%;
}  
.btn-primary {
color: #fff;
padding-bottom: 4px;
padding-top: 4px;
background-color: #605697;
border-color: #605697;
margin-top: 20%;
margin-left: 35px;
}  
.btn-primary:active :hover{
color: #605697;
background-color: #fff;
border-color: #605697;
}
p {
  margin-top: 0px;
  margin-left: 35px;
}
.type{
  margin-top:  0.8rem;
  margin-left: 33px;
  
}








