<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
        <br>
        <ul>
          <li>Item 4</li>
          <li>Item 5</li>
          <li>Item 6</li>
        </ul>
      </div>

      <div class="col-md-3">

        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
        <br>
        <ul>
          <li>Item 4</li>
          <li>Item 5</li>
          <li>Item 6</li>
        </ul>
      </div>
      <div class="col-md-3">

        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
        <br>
        <ul>
          <li>Item 4</li>
          <li>Item 5</li>
          <li>Item 6</li>
        </ul>
      </div>
      <div class="col-md-3">

        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
        <br>
        <ul>
          <li>Item 4</li>
          <li>Item 5</li>
          <li>Item 6</li>
        </ul>
      </div>
    </div>
    <hr class="my-4" style="color: white;">
    <div class="icon d-flex flex-row align-items-center justify-content-end" >
      <a href="https://www.facebook.com/" target="_blank">
        <img src="../../assets/images/fb" class="img-direction"style="width: 6%;margin-left: 275%;" alt="icon de facebook">
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="../../assets/images/instagram" class="img-direction"style="width: 6%;margin-left: 185%;" alt="icon d'instagram">
      </a>
      <a href="https://twitter.com/" target="_blank">
        <img src="../../assets/images/twitter" class="img-direction"style="width: 6%;margin-left: 95%;" alt="icon de twitter">
      </a>
    </div>
  </div>
</footer>