<footer class="footer">
    <div class="container">
        <div class="row">
           <!--  <div class="col-md-3">
                
                <div class="footer_content d-flex flex-md-row flex-column align-items-center align-items-start justify-content-start">
                   
                    <div class="footer_logo">
                        <div class="logo">
                            <a href="#"></a>
                                  
                        </div>
                    </div>
                </div>
            </div> -->
            
            <div class="col-md-3">
                
                <ul>
                  <li>Item 1</li>
                  <li>Item 2</li>
                  <li>Item 3</li>
                </ul> 
                 <br>
                <ul>
                  <li>Item 4</li>
                  <li>Item 5</li>
                  <li>Item 6</li>
                </ul>
            </div>
              
            <div class="col-md-3">
                
                <ul>
                  <li>Item 1</li>
                  <li>Item 2</li>
                  <li>Item 3</li>
                </ul> 
                 <br>
                <ul>
                  <li>Item 4</li>
                  <li>Item 5</li>
                  <li>Item 6</li>
                </ul>
            </div>
            <div class="col-md-3">
                
                <ul>
                  <li>Item 1</li>
                  <li>Item 2</li>
                  <li>Item 3</li>
                </ul> 
                 <br>
                <ul>
                  <li>Item 4</li>
                  <li>Item 5</li>
                  <li>Item 6</li>
                </ul>
            </div>
            <div class="col-md-3">
                
                <ul>
                  <li>Item 1</li>
                  <li>Item 2</li>
                  <li>Item 3</li>
                </ul> 
                 <br>
                <ul>
                  <li>Item 4</li>
                  <li>Item 5</li>
                  <li>Item 6</li>
                </ul>
            </div>
            
            
        </div>
        <div class="copyright d-flex flex-row align-items-center justify-content-end">
            
          <i class="icofont-facebook"></i><a href="#" target="_blank"></a>
          <i class="icofont-instagram"></i><a href="#" target="_blank"></a>
          <i class="icofont-twitter"></i><a href="#" target="_blank"></a>
            <!-- Link back to developper --></div>
            <!-- <div class="row">
                <div class="col-md-12">
                  <p>© 2023 Company Name. All Rights Reserved</p>
                </div>
            </div> -->
    </div>
</footer>
