footer {
    background-color:#F29C2C;
    margin-top: 2%;
  }
 
  footer ul {
    list-style: none;
    color: #605697;
    padding: 0;
    margin: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer p {
    /* text-align: center; */
    font-size: 14px;
    color: #605697;
    margin-top: 30px;
  }
  .footer {
    font-size: small;
  }
  /*
  .footer li:nth-child(3) {
    display: inline-block;
    margin-right: 20px;
   }
  .icofont-facebook:before {
    content: "\ed37";
    margin-inline: 4px;
}
.icofont-instagram:before {
  content: "\ed46";
  margin-inline: 4px;
}
.icofont-twitter:before {
  content: "\ed7a";
  margin-inline: 4px;
}
 */
 a, a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  -webkit-font-smoothing:#f7c37e;
  -webkit-text-shadow: rgba(244, 195, 109, 0.01) 0 0 1px;
  text-shadow: rgba(244, 192, 124, 0.01) 0 0 1px;
}
