<div class="container">
    <div>
        <div class="row">
            <div class="col-md-12 d-flex flex-column align-items-center justify-content-center">

                <div class="section_title">
                    <h4 style="color: #675599; font-weight: bold;">OFFRES CIRCUIT LEADER</h4>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex flex-column align-items-center justify-content-center">

                <ul class="section-offres d-flex text-center">
                    <li class="mr-3"><a href="#">National</a></li>
                    <li class="mr-3"><a href="#">Accompagnement sahrin</a></li>
                    <li class="mr-3"><a href="#">Local</a></li>
                    <li class="mr-3"><a href="#">Tour de l'Ile</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="container">

    <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators" style="margin-bottom: -2rem;">
            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2"></button>
                
        </div>
        <div class="voir d-flex justify-content-end">
          <a href="#" class="vp align-self-center text-white" style="border: none; text-decoration: underline; margin-top: 0; font-size: x-small;">VOIR PLUS</a>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let card of cards; let i=index" [class.active]="i===0">
              <div class="card position-relative">
                <div class="img-wrapper">
                  <img [src]="card.imageUrl" class="d-block w-100" [alt]="card.title">
                  <i class="icofont-heart-alt" [ngClass]="{ 'liked': favorites[card.id] }" (click)="toggleFavorite(card.id)"></i>
                </div>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-start mb-3 small">
                    <div>
                      <h5 class="card-title small" style="color: #675599; font-weight: bold;">{{ card.title }}</h5>
                      <div class="d-flex flex-column align-items-center">
                        <div class="adresse mb-2 ">
                          <i class="icofont-location-pin"></i>
                          <span class="small"style="color: #675599;">Adresse</span>
                        </div>
                        <div class="d-flex align-items-center mb-2 nbre">
                          <i class="icofont-clock-time mr-2 small"></i>
                          <span class="small" style="color: #675599;">50 Minutes</span>
                          <i class="icofont-fire mr-2 small"></i>
                          <span class="small"style="color: #675599;">Difficulté</span>
                        </div>
                        
                        <div class=" type">
                          <i class="icofont-sort"></i>
                          <span class=""style="color: #675599;">Type</span>
                        </div>
                      </div>
                    </div>
                    <div class="text-right">
                      <h5 class="card-title"><i class="icofont-sale-discount mr-2 small"></i>Offre</h5>
                      <p class="card-text small"style="color: #675599;font-weight: bold;">Prix : 10$</p>
                     
                      <a href="#" class="btn btn-primary">VOIR PLUS</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <div class="voir d-flex justify-content-end">
          <a [routerLink]="['/offre-circuit']" class="vp align-self-center text-white" style="border: none; text-decoration: underline; margin-top: 0;">VOIR PLUS</a>
        </div>
    </div>
   
    <div class="direction">
      <img src="../../assets/images/icons8-direction-100.png" class="img-direction" alt="icon de direction">
    </div>
</div>
  
