<!-- navbar -->

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-around">
                    <div class="logo">
                        <img src="assets/images/guest-house-logo.jpg" alt="homepage" class="light-logo" width="60"/>
                    </div>
                    <nav class="main_nav">
                        <ul class="d-flex flex-row align-items-center justify-content-start">
                            <li class="active"><a href="index.html">DÉCOUVRIR</a></li>
                            <li><a href="#">OFFRES</a></li>
                            <li><a href="#">SERVICES</a></li>
                            <li><a href="#">À PROPOS</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </nav>
                    <!--Toggle Switch-->
                    <div>
                        <label class="switch" >
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                            <span class="menu-icon"></span>
                        </label>
                    </div>
                    <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu -->


