.contact_button_auth{
    position: relative;
   
    background: #F29C2C;
    color: #ffffff;
    margin-left: 40px;
    /* text-transform: uppercase; */
    cursor: pointer;
    border: none;
    outline: none;
    width: 105px;
    height: 46px;
}
.white-background {
    background-color: #fff;
    margin-left: 2%;
    padding-right: 63px;
}
