<app-navbar></app-navbar>
<div class="card-home">
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <!-- <div class="carousel-indicators">
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div> -->
        <div class="carousel-inner">
            <div class="carousel-item active c-item">
                <img src="../../assets/images/home1.jpg" class=" c-img" alt="slide 1">
                <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                    <h2 class="text-heading text-white mt-5 fs-3">LET'S</h2>
                    <h2 class="sub-heading text-white m2">MAKE YOUR</h2>
                    <h2 class="sub-heading text-white m2"><span
                            style="color: #FBA80A; font-style: italic; font-weight: lighter; font-family:Rage Italic">Best</span>
                        PLACE</h2>
                    <h2 class="sub-heading text-white m2">EVER</h2>
                </div>
            </div>
            <div class="carousel-item c-item">
                <img src="../../assets/images/house1.jpg" class="c-img" alt="slide 2">
                <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                    <h2 class="text-heading text-white mt-5 fs-3">LET'S</h2>
                    <h2 class="sub-heading text-white m2">MAKE YOUR</h2>
                    <h2 class="sub-heading text-white m2"><span
                            style="color: #FBA80A; font-style: italic; font-weight: lighter; font-family:Rage Italic">Best</span>
                        PLACE</h2>
                    <h2 class="sub-heading text-white m2">EVER</h2>
                </div>
            </div>
            <div class="carousel-item c-item">
                <img src="../../assets/images/house8.jpg" class="c-img" alt="slide 3">
                <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                    <h2 class="text-heading text-white mt-5 fs-3">LET'S</h2>
                    <h2 class="sub-heading text-white m2">MAKE YOUR</h2>
                    <h2 class="sub-heading text-white m2"><span
                            style="color: #FBA80A; font-style: italic; font-weight: lighter; font-family:Rage Italic">Best</span>
                        PLACE</h2>
                    <h2 class="sub-heading text-white m2">EVER</h2>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
	<!-- Search Box -->
    <div class="search_box">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="search_box_container d-flex flex-row align-items-center justify-content-start">
                        <div class="search_form_container">
                            <ul class="nav nav-tabs" role="tablist" style="position:relative">
                                <li role="bravo_hotel m2">
                                    <a href="#" class=" active " aria-controls="maison-dhote" role="tab"
                                        data-toggle="tab">
                                        <i class="icofont-building-alt"
                                            style="margin-left: 5px;"></i>&nbsp;&nbsp;&nbsp;Maison
                                        D'hote&nbsp;&nbsp;&nbsp;</a>
                                </li>
                                <li role="bravo_car">
                                    <a href="#" class="" aria-controls="circuit-leader" role="tab"
                                        data-toggle="tab">
                                        <i class="icofont-island"
                                            style="margin-left: 5px;"></i>&nbsp;&nbsp;&nbsp;Circuit
                                        Leader&nbsp;&nbsp;&nbsp;</a>
                                </li>
                            </ul>
                            <form action="#" id="search_form" class="search_form"
                                style="justify-items: center;">
                                <div
                                    class="d-flex flex-lg-row flex-column align-items-center justify-content-start">
                                    <ul
                                        class="search_form_list d-flex flex-row align-items-center justify-content-start flex-wrap equal-width">
                                        <li>
                                            <label for="">Localisation</label>
                                            <div class="search_input_container">
                                                <input type="text" class="search_input" name="localisation">
                                                <span class="search_icon"><i class="icofont-location-pin"
                                                        style="margin-left: -35px;"></i></span>
                                            </div>
                                        </li>
                                        <li>
                                            <label for="">Date de départ</label>
                                            <div class="search_input_container">
                                                <input type="date" style="text-align: center;"
                                                    class="search_input m2" name="date_depart">

                                            </div>
                                        </li>
                                        <li>
                                            <label for="">Date d'Arrivée</label>
                                            <div class="search_input_container">
                                                <input type="date" style="text-align: center;"
                                                    class="search_input m2" name="arrivee">
                                            </div>
                                        </li>
                                        <li>
                                            <label for="">Personnes</label>
                                            <div class="search_dropdown d-flex flex-row align-items-center justify-content-start"
                                                style="width: 100%;text-align: center;">
                                                <input type="text" class="search_input" name="personnes">
                                                <span class="search_icon"><i class="icofont-people"></i></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <button class="search_button"
                                        style="background-color:#FBA80A ; margin: auto; margin-bottom: 1.4%; justify-items: center;">Rechercher</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<router-outlet></router-outlet>



<app-footer></app-footer>
