<div class="row" style="background-image: url('../../assets/images/home1.jpg'); background-size: cover; display: flex; justify-content: center; align-items: center;">
	<div class="col-3" style="background-color:#605697;opacity: 0.8; width: 50%; min-height:80vh; padding: 40px;margin-top: 30px; margin-bottom: 30px;">
	  <form action="">
		<h5 style="color: white;">Enter votre email</h5>
		<div class="inputs">
		  <div class="m2" style="margin-bottom: 50px; margin-top: 50px;">
			<input style="font-size: medium;" type="text" name="email" placeholder="votre Email SVP">
		  </div>
		  <div class="m2 alert alert-danger" role="alert" *ngIf="message" style="margin-bottom: 20px;">
			{{message}}
		  </div>
		</div>
	  </form>
	 
	  <div class="col-12">
		<p class="m2" style="color: white; margin-top: 10px;">Now Can You Connect</p>
		<p class="m2" style="color: white;"><a href="connexion">Sign In</a></p>
	  </div>
	  <div class="row justify-content-end">
		<button class="contact_button" style="font-size: smaller;" (click)="passe()">Entrer</button>
	  </div>
	</div>
  </div>
  