<!DOCTYPE html>
<html lang="en">

<head>
	<title>guest-house</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="guest-house template project">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

	<div class="super_container">
	
		<!-- Header -->
		<header class="header">
			
		</header>

		<!-- Menu -->



		<!-- Home -->

		

		

		<!-- offres-maison -->

		<div class="intro">
			<app-offres-maison></app-offres-maison>
		</div>
		

		<!-- offres-circuit -->
		<div class="offreCircuit" style="position: relative; display: block;">
			<app-offres-circuit></app-offres-circuit>
		</div>

		<!-- pourquoi nous -->
		
		<div class="container-pqn" >
			<div class="card" style="background-color: #f2f2f2; width: 96%; height: 100%;border: none;margin-left: 2%;">
				<div class="row">
					<div class="col-6">
						<div class="text w-100">
							<h3 class="prq" style="color: #675599; font-size: 2.75rem;font-weight: bold;">POURQUOI </h3>
							<h3 style="font-size: 2.75rem; color: #675599;font-weight: bold;"> NOUS?</h3>
							<div class="ligne" style="border-bottom: 3px solid #FBA80A; width: 25%;"></div>
							<p class="desc" style="text-align: justify; margin-left: 10%;margin-top: 40px;">description en
								petite paragraphe fghjk dfghj sdfghk cvbn,; vbrdyuhnjkm description en petite paragraphe
								fghjk dfghj sdfghk cvbn,; vbrdyuhnjkm description en petite paragraphe fghjk dfghj sdfghk
								cvbn,; vbrdyuhnjkm</p>
							<a class="suivant" style="color: #675599;margin-left: 10%;" href="#">SUIVANT</a>
						</div>
					</div>
					<div class="col-6">
						<div class="img w-100">
							<img src="assets/images/pourquoiNous.jpg" class="card-img-top card-img w-100 d-flex" alt=""
								style="border-radius: 4px;margin-top: 40px;">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- nos-maison -->
		<div class="nos-maison">
			<app-nos-maison></app-nos-maison>
		</div>
		<!--nos circuit-->
		<div class="circuit" style="background-color: #fdfdfd; width: 100%; width: 100%;">
			<app-nos-circuit></app-nos-circuit>
		</div>
		<!--our activity-->
        <div class="activity">
		<app-our-activity></app-our-activity>
    </div>
		<!--etoile et com-->
		<div class="etoile">
			<div class="container">

				<div class="super-card">
					<div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="card">
									<div class="card-body">
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
											card's content.</p>
									</div>
									<div class="img-wrapper">
										<div class="name">Firstname|lastname
											<p>visiteur</p>
										</div>
										<img src="../assets/images/profile2.jpg" class="d-block rounded-circle img-thumbnail" alt="...">
								    </div>									
								</div>
							</div>
							<div class="carousel-item">
								<div class="card">
									<div class="card-body">
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
											card's content.</p>
									</div>
									<div class="img-wrapper">
										<div class="name">Firstname|lastname
											<p>visiteur</p>
										</div>
										<img src="../assets/images/profile2.jpg" class="d-block w-100 rounded-circle img-thumbnail" alt="..."> </div>									
								</div>
							</div>
							<div class="carousel-item">
								<div class="card">
									<div class="card-body">
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
											card's content.</p>
									</div>
									<div class="img-wrapper">
										<div class="name">Firstname|lastname
											<p>visiteur</p>
										</div>
										<img src="../assets/images/profile2.jpg" class="d-block w-100 rounded-circle img-thumbnail" alt="..."> </div>									
								</div>
							</div>
							<div class="carousel-item">
								<div class="card">
									<div class="card-body">
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
											card's content.</p>
									</div>
									<div class="img-wrapper">
										<div class="name">Firstname|lastname
											<p>visiteur</p>
										</div>
										<img src="../assets/images/profile2.jpg" class="d-block w-100 rounded-circle img-thumbnail" alt="..."> </div>									
								</div>
							</div>
							<div class="carousel-item">
								<div class="card">
									<div class="card-body">
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
											card's content.</p>
									</div>
									<div class="img-wrapper">
										<div class="name">Firstname|lastname
											<p>visiteur</p>
										</div>
										<img src="../assets/images/profile2.jpg" class="d-block w-100 rounded-circle img-thumbnail" alt="..."> </div>									
								</div>
							</div>
							<div class="carousel-item">
								<div class="card">
									<div class="card-body">
										<i class="icofont-star" style="background-color: #f8e1b6;"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<i class="icofont-star"></i>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
											card's content.</p>
									</div>
									<div class="img-wrapper">
										<div class="name">Firstname|lastname
											<p>visiteur</p>
										</div>
										<img src="../assets/images/profile2.jpg" class="d-block w-100 rounded-circle img-thumbnail" alt="..."> 
									</div>									
								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>

			</div>

		</div>

		<!-- Contact -->
		<div class="container-contact">
			<div class="text-center" >
				<div style="color: transparent;margin-bottom: 3%;">vide</div>
				<h3 style="color: #675599; font: 2em menu;font-weight: bold;">POUR FACILITER VOS</h3>
				<h3 style="color: #675599; font: 2em menu;font-weight: bold;">SERVICES ET POUR PLUS</h3>
				<h3 style="color: #675599; margin-bottom: 3%; font: 2em menu;font-weight: bold;">DE QUESTIONS.</h3>
			</div>
			<!-- Contact Form -->
			<div class="d-flex justify-content-center">
				<button class="contact_button" style="font-size: smaller;">CONTACTEZ-NOUS</button>
			</div>
		</div>
		
	</div>
</body>

</html>
