
  <div class="row" style="background-image: url('../../assets/images/home1.jpg'); background-size: cover; display: flex; justify-content: center; align-items: center;">
    <div class="col-3" style="background-color:#605697;opacity: 0.8; min-height: 80vh; padding: 40px;margin-top: 5px; margin-bottom: 5px;">
        <form action="">
            <h5 style="color: white;">Modifier mot de passe</h5>
            <div class="inputs">
               
              <!--   <div class="m2" style="margin-bottom: 20px;">
                    <input style="font-size: medium;" type="text" [(ngModel)]="forms.email" name="email" placeholder="Email">
                </div>  -->
                
                <div class="m2" style="margin-bottom: 20px;">
                    <input style="font-size: medium;" type="password" [(ngModel)]="forms.oldpassword" name="password" placeholder="Ancien mot de passe">
                </div>
                <div class="m2" style="margin-bottom: 20px;">
                    <input style="font-size: medium;" type="password" [(ngModel)]="forms.newpassword" name="password" placeholder="Nouveau mot de passe">
                </div>
            </div>
        </form>
        <div class="col-12">
            <button class="contact_button" style="font-size: smaller;" (click)="resetPassword()">Modifier</button>
        </div>
    </div>
</div>
  
